/* Здесь будут храниться стили нашего сайта */
body{
	margin: 0;
	font-family: 'Roboto';
}

img {
	max-width: 100%;
}

header{
	background-color: #3a7dfd;
	background-image: linear-gradient(-147deg, #3a7dfd 0%, #1157db 100%);
	color: #fff;
	padding-top: 59px;
	padding-bottom: 17px;
}

.header-pretitle {
	font-size: 18px;
	margin-top: 102px;
	font-weight: 700;
}

.header-title {
	font-size: 48px;
	font-weight: 700;
	margin: 0;
	margin-top: 21px;
}

.header-subtitle {
	font-size: 18px;
	font-weight: 400;
	margin: 0;
	margin-top: 20px;
	font-weight: 300;
}

.header-button {
	text-decoration: none;
	display: inline-block;
	box-shadow: 10px 17px 34px 6px rgba(18, 61, 145, 0.83);
	border-radius: 50px;
	background-color: #ffffff;
	color: #072b6f;
	font-size: 18px;
	font-weight: 700;
	border: none;
	padding: 18px 58px;
	margin-top: 32px;
}

header small {
	font-size: 12px;
	font-weight: 400;
	display: block;
	text-align: center;
	margin-top: 9px;
}

.header-button-block {
	max-width: 202px;
}

.portfolio {
	background-color: #dddddd;
	padding-top: 42px;
	padding-bottom: 69px;
}

.portfolio-block {
	background-color: #fff;
	padding-top: 30px;
	padding-bottom: 42px;
}

.portfolio-title {
	color: #072b6f;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.8px;
	margin-bottom: 0;
}

.portfolio-subtitle {
	margin-top: 10px;
	font-size: 14px;
	font-weight: 300;
	color: #7bb9ff;
	padding-bottom: 30px;
}

.portfolio-title, .portfolio-subtitle {
	text-align: center;
}

.portfolio-col-1 {
	padding-left: 50px;
}

.portfolio-col-2 {
	padding-left: 30px;
}
.portfolio-block h3 {
	color: #072b6f;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}

.portfolio-block a {
	color: #072b6f;
	font-size: 14px;
	font-weight: 400;
	text-decoration: underline;
}

.portfolio-text {
	color: #8f8f8f;
	font-size: 14px;
	font-weight: 400;
}

footer {
	background-color: #3a7dfd;
	color: #fff;
}

.footer-author {
	color: #fefefe;
	font-size: 24px;
	font-weight: 700;
	padding-top: 20px;
	margin: 0;
	margin-bottom: 7px;
}

.footer-text {
	color: #deedfe;
	font-size: 18px;
	font-weight: 300;
	padding-bottom: 30px;
	margin: 0;
}

.social-block {
	text-align: center;
	padding-top: 15px;
}

.social-block a {
	display: inline-block;
	margin-left: 13px;
	margin-right: 13px;
	padding-bottom: 25px;
}

.footer-sc {
	color: #deedfe;
	font-size: 18px;
	font-weight: 300;
	margin: 0;
	margin-bottom: 20px;
}

.footer-feedback {
	color: #deedfe;
	font-size: 18px;
	font-weight: 300;
	margin: 0;
	margin-bottom: 12px;
}

.feedback {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 25px;
}

.footer-button {
	display: inline-block;
	text-decoration: none;
	border-radius: 50px;
	border: 1px solid #fff;
	background-color: transparent;
	color: #fff;
	font-size: 18px;
	padding: 15px 40px;
}

@media (max-width: 1200px) {
	.header-pretitle{
		margin-top: 60px;
	}

	.portfolio-col-1 {
		padding-left: 25px;
	}

	.portfolio-col-2 {
		padding-right: 25px;
	}
	
}

@media (max-width: 992px) {
	.header-img {
		display: none;
	}

	.header-pretitle{
		margin-top: 0px;
	}

	.footer-text {
		font-size: 14px;
	}

	.social-block a {
		margin-left: 5px;
		margin-right: 5px;
	}
	.social-block img {
		width: 30px;
	}

	.footer-button {
		font-style: 14px;
		padding: 10px 25px;
	}

	.portfolio-col-1 {
		padding-left: 25px;
	}

	.portfolio-col-2 {
		padding-left: 5px;
		padding-right: 25px;
	}
}

@media (max-width: 768px) {
	.portfolio-col-1 {
		padding-left: 25px;
		padding-right: 20px;
		margin-bottom: 40px;
	}

	.portfolio-col-2 {
		padding-left: 25px;
		padding-right: 20px;
	}

	.footer-text, .footer-author {
		text-align: center;
	}
}